.devcontainer
.vscode
coverage
docs
manual
node_modules
dist
build
*.lock
.eslintrc.json
.prettierignore
.prettierrc
eslint.config.js
frontend.code-workspace
jsdoc.json
package.json
package-lock.json
README.md
tsconfig.app.json
tsconfig.json
tsconfig.node.json
vite.config.ts
vitest.setup.ts
