grafana:
  replicas: 1
  resources:
    requests:
      cpu: 100m
      memory: 200Mi
    limits:
      memory: 300Mi

prometheus:
  prometheusSpec:
    replicas: 1
    resources:
      requests:
        cpu: 200m
        memory: 500Mi
      limits:
        memory: 800Mi
    retention: 6h

alertmanager:
  enabled: false

kubeStateMetrics:
  resources:
    requests:
      memory: 100Mi
    limits:
      memory: 200Mi

nodeExporter:
  resources:
    requests:
      memory: 50Mi
    limits:
      memory: 100Mi

